div.center {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

table.student_table {
    background-color: blue;
    width: 100%;
    margin-top: 10px;
}

table.student_table td {
    background-color: white;
}

table.student_table td.number {
    text-align: right;
}

table.student_table td.id {
    text-align: center;
}

table.student_table th {
    background-color: antiquewhite;
}