<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Subjects</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
<div class="center">
    <table class="data_table">
        <thead>
        <tr>
            <th>Title</th>
            <th>Length</th>
            <th>Teachers</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="s : ${subjects}">
            <td th:text="${s.title}"></td>
            <td th:text="${s.length}" class="number"></td>
            <td><a th:href="@{subjects/show_teachers(sid=${s.id})}" th:text="show"></a></td>
            <td><a th:href="@{subjects/delete(sid=${s.id})}" th:text="X"></a></td>
        </tr>
        </tbody>
    </table>
</body>
</html>